parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:destroy\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:show\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:store\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:update\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php
