includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    scanFiles:
        - _ide_helper_macros.php

    paths:
        - src

    # The level 9 is the highest level
    level: 6

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    ignoreErrors:
        - identifier: trait.unused
